html {
  background-color: #f9f7f7;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  background-color: blue;
  background-image: linear-gradient(to right, #1d5994 ,#24955f);
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.bodyContainer {
  background-color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 10px;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.searchBarContainer {
  display: flex;
  padding: 15px;
  flex: 1;
}

.searchBarInput {
  flex: 1;
  height: 40px;
  border: 1px solid #c0c0c0;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 2px;
}

.searchBarInput:focus {
  outline: none;
}

.searchBarButton {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24995c;
  color: #fff;
  margin-left: 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #888888;
}

.searchBarButtonIcon {
  color: red;
  transform: rotate(-10 50 100);
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px;
}

ul {
  padding-left: 19px;
  margin: 0;
}

ul li { 
  padding: 0 0 10px; 
}

.textContainer {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

.favouritesTitle {
  font-size: 28px;
  color: #24995c;
  font-weight: 700;
  margin-bottom: 20px;
}

.favouritesHint {
  font-size: 19px;
  font-weight: 400;
}